/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

#Not good practice but
web/components/*
app/config/deploy.rb

.DS_Store
*/.DS_Store
Thumbs.db

/.idea/
