{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h2>Getting your AWESOME PRIZE is easy!</h2>
        <ol>
            <li>Sign up and complete a survey</li>
            <li>Tell us more about yourself</li>
            <li>Get an awesome prize!</li>
        </ol>
    </div>

    <div id="form-container">
        {{ include('MegogoCoreBundle:Core:_registrationForm.html.twig',{'form': registrationForm}) }}
    </div>
{% endblock %}

{% block time %}
    <p>Time remaining to complete your tasks</p>
    <h1>0 seconds</h1>
{% endblock %}