{% extends '::base.html.twig' %}

{% block body %}
    <div id="form-container">
        {{ include('MegogoCoreBundle:Core:_stepTwoForm.html.twig',{'form': stepTwoForm}) }}
    </div>
{% endblock %}

